/* CallWorkflow.css */
.background_workflow{
    background-image: linear-gradient(to right,rgba(174, 175, 234, 0.479),hsl(233, 85%, 64%));
    padding: 20px;
    width: 100%;
    height: 80vh;
}
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color:#3f4deb;
  }

  
  .background_workflow>h2 {
    margin-top: 0;
    margin-bottom: 20px;
  }
  .form_div{
    margin: 10px;
    padding: 100px;
  }
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  /* background-color: #c2fbd7; */
  /* border-color: aquamarine; */
  font-size: x-large;

  }
  
  input[type="file"] {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #3f4deb ;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  select {
    width: 100%;
    padding: 10px;
    border: 1px solid #3f4deb ;
    border-radius: 5px;
    box-sizing: border-box;
    background-color:transparent;
  }
  
  .btn {
    display: block;
    width: 100%;
    padding: 10px;
    justify-content: center;
    margin-top: 1vh;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  .error {
    color: red;
    margin-top: 10px;
  }
  